<!DOCTYPE html>
<html ng-app="userCards">
<head><base href="/"></head>
<body>

<ui-view></ui-view>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-mocks.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
<script>
    const app = angular.module('userCards', ['ui.router']);

    app.config(function($stateProvider, $urlRouterProvider) {

        $stateProvider
                .state('login', {
                    url: '/login',
                    template: '<login-page></login-page>'
                })
                .state('users', {
                    url: '/users',
                    template: '<user-list></user-list>'
                })

        $urlRouterProvider.otherwise('users');
    });

    app.run(function($rootScope, $state, AuthService){
        $rootScope.$on('$stateChangeStart', function(event, toState) {
            if( toState.name !=='login' && !AuthService.isAuthorized() ) {
                $state.go('login');
                event.preventDefault();
            }
        });
    });

    app.directive('userList', function() {
        return {
            template: '<h1>USERS</h1>'
        };
    });

    app.directive('loginPage', function(AuthService) {
        return {
            template: '<input ng-model="login"><input ng-model="password"><button ng-click="doLogin(login, password)">login</button>',
            link: function(scope){
                scope.doLogin = (login, password) => {
                    return AuthService.authorize(login, password);
                }
            }
        };
    });

    app.service('AuthService', function() {
        var isLogin = false;
        this.authorize = (login, password) => {
            if(login == 1 && password == 1) {
                isLogin = true;
            } else {
                isLogin = false;
            }
            return isLogin;
        }

        this.isAuthorized = () => isLogin;
    });

</script>

</body>
</html>
